/** text-input styling **/

.form--text__input {
    display: flex;
    flex-flow: column-reverse;
    padding-bottom: 1rem;
    /* margin-bottom: 1rem; */
}

.form--text__input--label {
    font-size: .75rem;
    margin-bottom: .5rem;
}

.form--text__input--label, .form--text__input--input {
    transition: all 0.2s;
    touch-action: manipulation;
}

.form--text__input--input {
    background: none;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

.form--text__input--input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.form--text__input--input:placeholder-shown + .form--text__input--label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.5rem) scale(1.5);}

.form--text__input--input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.form--text__input--input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.form--text__input--input:not(:placeholder-shown) + .form--text__input--label,
.form--text__input--input:focus + .form--text__input--label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/* Dropdow Menu Styling */

.form--dropdown__input--select {
    font-family: 'Open Sans';
    background: #fff;
    color: #111;
    font-size: .75rem;
    padding: .5rem .5rem;
    text-transform: uppercase;
    font-weight: 400;
    outline: none;
    max-width: 100%;
    margin-top: 1rem;
}
.form--dropdown__input--option {
    font-family: inherit;
    font-weight: inherit;
}