.news-item {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    padding: .5rem;
    margin-bottom: 1rem;
    background: #ECECEC;
    align-items: center;
    justify-items: center;
}

.remove-news {
    font-weight: 700;
    padding: .5rem;
    background: none;
    border: 2px solid #111111;
    color: #111111;
    grid-column: 3;
/*     grid-row: 1 / span 2; */
}
.remove-news:hover {
    background: #111111;
    color: #FFFFFF;
    cursor: pointer;
}